<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<main>
    <h1 th:text="${auction.getName()}"></h1>
    <p th:text="${auction.getDescription()}"></p>
    <small>
        <strong th:text="${auction.getStartsAt()}"></strong>
        -
        <strong th:text="${auction.getEndsAt()}"></strong>
    </small>

    <h3>Current price: <span th:text="${auctionPrice}"></span></h3>
    <input class="btn btn-dark m-1" type="button" value="Refresh" onClick="document.location.reload(true)">

    <small th:if="${currentUser == auction.getOwner()}">Cannot bid on owned auctions.</small>
    <small th:unless="${auction.hasStarted()}">Cannot bid. Auction not started yet.</small>
    <a th:if="${currentUser == auction.getOwner()}" class="btn btn-dark m-1" th:href="@{'/auction/' + ${auction.getId()} + '/edit'}">Edit auction</a>
    <a th:if="${currentUser == auction.getOwner()}" class="btn btn-danger m-1" th:href="@{'/auction/' + ${auction.getId()} + '/delete'}">Delete auction</a>
    <form th:if="${currentUser != auction.getOwner() && auction.hasStarted()}" th:action="@{'/auction/' + ${auction.getId()} + '/bid'}"
          method="post">
        <fieldset>
            <legend>Place new bid</legend>
            <label for="bidValueIncrement">Bid</label>
            <input type="number" min="1" step="1" pattern="\d+" name="bidValueIncrement" id="bidValueIncrement"
                   required>
            <p>(Incremental value)</p>
            <div class="form-actions">
                <button type="submit" class="btn btn-dark m-1">Bid</button>
            </div>
        </fieldset>
    </form>
</main>
</body>
</html>