<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<main>
    <h1 th:text="${auction.getName()}"></h1>
    <form th:action="@{'/auction/' + ${auction.getId()} + '/delete'}" method="post">
         <strong>Are you sure you want to delete this auction?</strong>
        <button class="btn btn-dark m-1" type="submit">Delete auction</button>
    </form>
</main>
</body>
</html>