<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        label {
            display: block;
        }
        input {
            display: block;
        }
    </style>
</head>
<body>
<main>
    <h1>Register</h1>
    <form th:action="@{/login}" th:object="${userRegisterForm}" method="post">
        <fieldset>
            <legend>Please Register</legend>

            <div th:each="message: ${messages}" th:text="${message}" class="alert alert-error"></div>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="passwordAgain">Password again</label>
            <input type="password" id="passwordAgain" name="passwordAgain" required>

            <div class="form-actions">
                <button type="submit" class="btn btn-dark m-1">Register</button>
            </div>
        </fieldset>
    </form>
</main>
</body>
</html>