<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<main>
    <h1 th:text="${user.getUsername()}"></h1>

    <h3>Roles:</h3>
    <ul th:each="role: ${user.getRoles()}">
        <li th:text="${role.getName()}"></li>
    </ul>

    <h3>My auctions</h3>
    <table class="table table-bordered" th:if="${ownedAuctions}">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Current price</th>
            <th>Start - End</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="auction: ${ownedAuctions}">
            <td th:text="${auction.getName()}"></td>
            <td th:text="${auction.getDescription()}"></td>
            <td th:text="${auctionsPrices.get(auction)}">
            <td>
                <small>
                    <strong th:text="${auction.getStartsAt()}"></strong>
                    -
                    <strong th:text="${auction.getEndsAt()}"></strong>
                </small>
            </td>
            <td><a class="btn btn-dark m-1" th:href="@{'/auction/' + ${auction.getId()}}">Open</a></td>
        </tr>
        </tbody>
    </table>
    <p th:unless="${ownedAuctions}" th:text="No auctions."></p>
    <a class="btn btn-dark m-1" th:href="@{/auctions}">All auctions</a>
    <a class="btn btn-dark m-1" th:href="@{/auction/create}">Create auction</a>
    <input class="btn btn-dark m-1" type="button" value="Refresh" onClick="document.location.reload(true)">
</main>
</body>
</html>
